:root {
  --font-clash: 'Clash Grotesk';
}
@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-clash: 'Clash Grotesk';
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


/* Extend Tailwind base styles */
@layer base {
*, *::before, *::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
  }

  /* HTML & Body */
  html, :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji",
                 "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply m-0;
    line-height: inherit;
  }

  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  /* Links */
  a {
    color: inherit;
    text-decoration: inherit;
  }

  /* Bold text */
  b, strong {
    font-weight: bolder;
  }

  /* Monospace code elements */
  code, kbd, samp, pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
                 "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
  }

  /* Small text */
  small {
    font-size: 0.8em;
  }

  /* Subscript / Superscript */
  sub, sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }

  /* Horizontal rules */
  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  /* Abbreviations */
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }

  /* Container (centered + max width + horizontal padding) */
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1345px;
    padding-left: 2rem; /* Tailwind: px-8 */
    padding-right: 2rem;
    width: 100%;
  }
}
